/* Normal Styles - For mobiles vertical */
header{

}

header img{
  margin: 0px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.23);
}


body{
  background: #000;
  margin: 0;
}

footer{

}

/* Mobile horizontally or Tablets vertical */
@media (min-width: 768px) {

}

/* Tablets horizontally and Normal desks */
@media (min-width: 1024px) {

}

/* large desks */
@media (min-width: 1200px) {

}
