/* Normal Styles - For mobiles vertical */
header{
  width: 100%

}

header img{
  margin: 0px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body{
  background: #ffffff;
  margin: 0;
}

footer{

}

/* Mobile horizontally or Tablets vertical */
@media (min-width: 768px) {

}

/* Tablets horizontally and Normal desks */
@media (min-width: 1024px) {

}

/* large desks */
@media (min-width: 1200px) {

}
