body {
  background: #e74c3c;
  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust:none;
}
h1 {
  font-size: 80px;
}
a:link {
    color: #0098ff;
    text-decoration: none;
}
a:visited {
    color: #0098ff;
    text-decoration: none;
}
#error404 {
  position:flex;
  left:0; right:0;
  top:0; bottom:400;
  margin:auto;
  padding: 10px;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  justify-content: space-around;
  justify-content: space-between;
  -webkit-justify-content: space-around;
}
